---
layout: default
---

<div class='home'>
  <div class='post-list'>
    <div class='post-row'>
      <div class='post-title header'>
        <a name='grammar'>
         Grammar
       </a>
      </div>

      <div class='post-title header'>
         Usage
      </div>
    </div>

    {% for post in site.posts %}
      {% if post.categories contains 'grammar' %}
        <div class='post-row'>
          <a class='' href={{ site.baseurl }}{{ post.url }}>
            <div class='post-title'>
                {{ post.title }}
            </div>

            <div class='post-description'>
               {{ post.description }}
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class='post-list'>
    <div class='post-row'>
      <div class='post-title header'>
        <a name='verb'>
         Verb Conjugations
       </a>
      </div>

      <div class='post-title header'>
         Usage
      </div>
    </div>

    {% for post in site.posts %}
      {% if post.categories contains 'verb' %}
        <div class='post-row'>
          <a class='' href={{ site.baseurl }}{{ post.url }}>
            <div class='post-title'>
                {{ post.title }}
            </div>

            <div class='post-description'>
               {{ post.description }}
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
