.post-header {
    margin-bottom: $spacing-unit;
}

.post-row {
    width: 100%;
    padding: 0px 10px;
    display: inline-block;
    line-height: 35px;
    box-sizing: border-box;
    position: relative;

    &:nth-child(even) {
    	background: rgba(230, 230, 230, 0.5);
    }

    &.header {
      background: none;
      font-weight: bold;

      &:hover {
        background: none;
      }

    }

    .post-category-anchor {
      position: absolute;
      height: 200px;
      top: -100px;
    }

    &:hover {
    	background: rgba(#FFB3B3, 0.2);

    	a {
        text-decoration: none;

        &:hover {
          color: $brand-color;
        }
      }
    }
}

.post-title {
    font-size: 20px;
    width: 30%;
    float: left;
    text-shadow:
      -1px -1px 0 #FFF,
      1px -1px 0 #FFF,
      -1px 1px 0 #FFF,
      1px 1px 0 #FFF;


    @include media-query($on-palm) {
      width: 100%;
    }
}

.post-description {
    width: 70%;
    float: left;
    color: #000;

    @include media-query($on-palm) {
      width: 100%;
    }

    em {
      font-size: 12px;
      padding: 0px 15px;
      border-bottom: 1px solid #000;
    }

    p {
      margin: 0px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    em {
      font-size: 12px;
      padding: 0px 15px;
      border-bottom: 1px solid #000;
    }

    hr {
       opacity: 0;
       padding: 10px 0px;
    }

    h2 {
        font-size: 14px;
      	margin-bottom: 0px;
      	font-weight: bold;
      	text-transform: uppercase;
      	width: 100%;
      	display: inline-block;

        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post {
  .post-header {
  	  margin-bottom: 10px;
          display: inline-block;
      }

      .post-title {
          width: 100%;
          font-size: 35px;
       }
}
